/*
    全局样式表
*/

ul,li{
    margin:0;
    padding:0;
    list-style: none;
}

.active{
    background:#11C3FE!important;
    color:#fff!important;
}

/*
    提示消息
*/
span[tipsStatus]{
    padding:0 10px;
}
span[tipsStatus='success']{
    color:green;
}

span[tipsStatus='error']{
    color:#ff0000;
}

/*
    自定义下拉框样式表
*/
div[mySelect]{
    width:40%;
    border-radius: 5px;
    box-shadow:0 0 10px  #aaa;
    position: relative;
}

div[mySelect] ul::-webkit-scrollbar,.ag-body-viewport::-webkit-scrollbar {
    width:10px;
    height:10px;
    cursor: pointer;
}
div[mySelect] ul::-webkit-scrollbar-button ,.ag-body-viewport::-webkit-scrollbar-button   {
    background-color:#ccc;
}
div[mySelect] ul::-webkit-scrollbar-track ,.ag-body-viewport::-webkit-scrollbar-track    {
    background:#fff;
}
div[mySelect] ul::-webkit-scrollbar-track-piece,.ag-body-viewport::-webkit-scrollbar-track-piece  {
    background:#fff;
    border:1px solid rgba(200,200,200,.5);
    box-shadow:  0 0 5px #eee inset;
}
div[mySelect] ul::-webkit-scrollbar-thumb,.ag-body-viewport::-webkit-scrollbar-thumb{
    background:#666;
    border-radius:5px;
}
div[mySelect] ul::-webkit-scrollbar-corner,.ag-body-viewport::-webkit-scrollbar-corner {
    background:#82AFFF;
}
div[mySelect] ul::-webkit-scrollbar-resizer,.ag-body-viewport::-webkit-scrollbar-resizer  {
    background:#000;
}

div[mySelect] ul{
    list-style: none;
    margin:0;
    padding:0;
    height:auto;
    max-height: 300px;
    overflow: auto;
}

div[mySelect] ul li{
    height:30px;
    line-height: 30px;
    background: #fff;
    padding:0 10px;
    transition:all 0.2s;
}
div[mySelect] ul li:hover {
    background: #11C3FE;
    color:#fff;
}

div[mySelect] label{
    width:100%;
    font-weight: normal;
    cursor: pointer;
}

div[mySelect] input[readonly]{
    background: #fff;
}

span[triangle]{
    position: absolute;
    top: 15px;
    right:10px;
    width: 0;
    height: 0;
    border-top: 8px solid #000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
}


/*
    城市选择器样式表
*/
div[citySelector]{
    position: relative;
    background: #fff;
}
div[citySelectArea]:after,div[citySelectArea]:before{
    overflow:hidden;
    clear:both;
    display: block;
    content:' ';
}

div[citySelector] input{
    cursor: pointer;
}
div[citySelector] input[readonly]{
    background: #fff;
}

div[citySelectArea]{
    width:80%;
    padding:0 10px;
    border-radius: 8px;
    height:auto;
    background: rgba(0,0,0,.5);
}

div[citySelectArea] ul{
    border:1px solid #ccc;
    border-top:none;
    list-style: none;
    background: #ccc;
    margin:0;
    padding:0;
    height:300px;
    max-height:300px;
    overflow: auto;
    box-shadow: 0 0 5px #ccc;
}

div[citySelectArea] ul[city],div[citySelectArea] ul[district]{
    border-left:none;
}

div[citySelectArea] ul li{
    height:30px;
    line-height: 30px;
    background: #eee;
    border-bottom: 1px solid #eee;
    padding:0 15px;
    transition:all 0.2s;
}
div[citySelectArea] ul li:hover {
    background: #11C3FE;
    color:#fff;
}

div[citySelectArea] label{
    width:100%;
    margin:0;
    font-weight: normal;
    cursor: pointer;
}

div[citySelectArea] input[type="radio"]{
    display: none;
}

div[citySelectorStreet]{
   padding:0;
}

div[citySelectArea] ul::-webkit-scrollbar {
    width:10px;
    height:3px;
}
div[citySelectArea] ul::-webkit-scrollbar-button    {
    background-color:#ccc;
}
div[citySelectArea] ul::-webkit-scrollbar-track     {
    background:#fff;
}
div[citySelectArea] ul::-webkit-scrollbar-track-piece {
    background:#fff;
    border:1px solid rgba(200,200,200,.5);
    box-shadow:  0 0 5px #eee inset;
}
div[citySelectArea] ul::-webkit-scrollbar-thumb{
    background:#666;
    border-radius:5px;
}
div[citySelectArea] ul::-webkit-scrollbar-corner {
    background:#82AFFF;
}
div[citySelectArea] ul::-webkit-scrollbar-resizer  {
    background:#000;
}

/*
    Echart 模板样式
*/

div[echartDemo],div[agGridDemo],canvas[echartDemo],canvas[agGridDemo]{
    width:100%;
    height:500px;
}


/*
    myCustomCSS
*/
*[scrollBar]::-webkit-scrollbar {
    width:10px;
    height:3px;
}
*[scrollBar]::-webkit-scrollbar-button    {
    background-color:#ccc;
}
*[scrollBar]::-webkit-scrollbar-track     {
    background:#fff;
}
*[scrollBar]::-webkit-scrollbar-track-piece {
    background:#fff;
    border:1px solid rgba(200,200,200,.5);
    box-shadow:  0 0 5px #eee inset;
}
*[scrollBar]::-webkit-scrollbar-thumb{
    background:#666;
    border-radius:5px;
}
*[scrollBar]::-webkit-scrollbar-corner {
    background:#82AFFF;
}
*[scrollBar]::-webkit-scrollbar-resizer  {
    background:#000;
}
*[editorContainer]{
    box-sizing: border-box;
}

*[editorMenuBar]{
    height:40px;
    background: linear-gradient(to right top, #fff1eb 0%, #ace0f9 100%);
    border:1px solid #ace0f9;
    padding:10px 15px;
}
*[editorContent]{
    min-height: 400px;
    max-height: 400px;
    border:1px solid #ace0f9;
    border-top: none;
    overflow-x:auto;
    overflow-y:scroll;
    padding:8px 10px; 
    white-space: per;
}
*[editorMenuBtn]{
    float:left;
    width:20px;
    height:20px;
    line-height: 20px;
}
*[editorMenuBtn] i{
    width:20px;
    height:20px;
    line-height: 20px;
}