<div echartDemo id="{{ctrl.element_id}}"></div>

<!-- <my-chart id="ctrl.element_id"></my-chart> -->
<div style="margin:80px auto;">
    <div hdBgColor="success">
        <i class="icon iconfont icon-chenggong" tipsIcon></i>
        <div hdBgMedio>
            自定义内容
        </div>
        <i class="icon iconfont icon-fou" closeIcon></i>
        <div style="clear:both;"></div>
    </div>

    <div hdBgColor="error">
        <i class="icon iconfont icon-guanbi" tipsIcon></i>
        <div hdBgMedio>
            自定义内容
        </div>
        <i class="icon iconfont icon-fou" closeIcon></i>
        <div style="clear:both;"></div>
    </div>

    <div hdBgColor="warn">
        <i class="icon iconfont icon-xiaoxitixing" tipsIcon></i>
        <div hdBgMedio>
           <p> 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容 自定义内容</p>
        </div>
        <i class="icon iconfont icon-fou" closeIcon></i>
        <div style="clear:both;"></div>
    </div>

    <div hdBgColor="info">
        <i class="icon iconfont icon-xiaoxitixing" tipsIcon></i>
        <div hdBgMedio>
            自定义内容
        </div>
        <i class="icon iconfont icon-fou" closeIcon></i>
        <div style="clear:both;"></div>
    </div>
</div>